{% load widget_tweaks %}

<form method="post" enctype="multipart/form-data" class="col-md-5 p-0 mx-auto">{% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="form-group">
            <label class="form-label" for="email">{{ field.label_tag }}</label>
            {% if form.is_bound %}
                {% if field.errors %}
                    {% render_field field class="form-control is-invalid" %}
                    {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% render_field field class="form-control is-valid" %}
                {% endif %}
            {% else %}
                <div class="">
                    {% render_field field class="form-control" %}
                </div>
            {% endif %}
        </div><!-- end of form -->
    {% endfor %}
    <div class="card mb-0">
        <div class="card-body">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" checked id="topic-all">
                <label class="custom-control-label">Terms and conditions</label>
                <small class="form-text text-muted">By checking here and continuing, I agree to the Luma Terms of Use</small>
            </div>
        </div>
    </div>
    <div style="padding-top: 1rem;">
        <button type="submit" class="btn btn-primary">{{ title }}</button>
    </div>
</form>
