{% extends 'base_instructor.html' %}
{% load static %}
{% block title %} {{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
    <div class="pt-32pt">
        <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left adminpanel-width">
            <div class="flex d-flex flex-column flex-sm-row align-items-center mb-24pt mb-md-0">

                <div class="mb-24pt mb-sm-0 mr-sm-24pt">
                    <h2 class="mb-0">Episode</h2>
                    <ol class="breadcrumb p-0 m-0">
                        <li class="breadcrumb-item"><a href="{% url 'instructor-dashboard' %}">Dashboard</a></li>

                        <li class="breadcrumb-item active">
                            Manage Episode
                        </li>
                    </ol>
                </div>
            </div>

            <div class="row" role="tablist">
                <div class="col-auto">
                    <a href="{% url 'create-episode' %}" class="btn btn-primary-dodger-blue">Create Episode</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container page__container page-section adminpanel-width">
        <div class="page-separator">
            <div class="page-separator__text">Episode</div>
        </div>

        <div class="card mb-0">
            <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-date"
                 data-lists-sort-desc="true"
                 data-lists-values='["js-lists-values-name", "js-lists-values-company", "js-lists-values-phone", "js-lists-values-date"]'>
                <table class="table mb-0 thead-border-top-0 table-nowrap">
                    <!-- start search box -->
                    <div style="padding:10px 0px 10px 0px;" class="form-inline d-flex">
                        <form method="GET" action="{% url 'episode-search-query' %}" class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2">
                            <input class="form-control  ml-3 w-25" type="text" placeholder="Search" name="q" aria-label="Search">
                        </form>
                        &nbsp; &nbsp;
                        <a href="{% url 'manage-episode' %}" class="btn btn-outline-accent mb-16pt mb-sm-0 mr-sm-16pt"> Reset
                        <i class="material-icons notranslate icon--right">clear</i>
                        </a>
                    </div>

                    <!-- end search box -->
                    <thead>
                    <tr>
                        <th style="width: 18px;" class="pr-0">#SL</th>
                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Category</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Subcategory</a>
                        </th>

                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Lesson</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Series</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Episode</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Professor</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Date</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-name">Action</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="list" id="contacts">
                    {% for ep_context in episode_context %}
                        <tr class="selected">
                            <td class="pr-0">
                                <p class="btn">{{ forloop.counter }}</p>
                            </td>
                            <td>
                                <p class="js-lists-values-phone text-50">{{ ep_context.lesson_of.category }}</p>
                            </td>
                            <td>
                                <p class="js-lists-values-phone text-50">{{ ep_context.lesson_of.subcategory }}</p>
                            </td>
                            <td>
                                <div class="media flex-nowrap align-items-center" style="white-space: nowrap;">
                                    <div class="avatar avatar-sm mr-8pt">
                                        {% if ep_context.lesson_of.course_image %}
                                            <img src="{{ ep_context.lesson_of.course_image.url }}" alt="Avatar" class="avatar-img img-thumbnail">
                                        {% endif %}
                                    </div>
                                    <div class="media-body">
                                        <div class="d-flex flex-column">
                                            <p class="mb-0">
                                                <span class="js-lists-values-name text-50">{{ ep_context.lesson_of.title }}</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="js-lists-values-phone text-50">{{ ep_context.series_of }}</p>
                            </td>
                            <td>
                                <p class="js-lists-values-phone"><strong>{{ ep_context.title }}</strong></p>
                            </td>
                            <td>
                                <p class="js-lists-values-phone"><strong>{{ ep_context.episode_instructor }}</strong></p>
                            </td>
                            <td>
                                <p class="js-lists-values-phone"><strong>{{ ep_context.created_at|date:"D d M Y" }}</strong></p>
                            </td>
                            <td>
                                <a href="{{ ep_context.get_absolute_update_episode_url }}" alt="{{ ep_context.get_absolute_update_episode_url }}"><span class="material-icons notranslate">update</span></a>
                                <a href="{{ ep_context.get_absolute_delete_episode_url }}" alt="Update"><span class="material-icons notranslate">delete</span></a>
                                <a href="{{ ep_context.lesson_of.get_absolute_url }}" alt="Update" target="_blank"><span class="material-icons notranslate">preview</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="card-footer p-8pt">
                {% if is_paginated %}
                    <ul class="pagination justify-content-start pagination-xsm m-0">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link"
                                   href="{% url 'manage-episode' %}?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true" class="material-icons notranslate">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            {% endif %}
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Page 1">
                                <span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                            </a>
                        </li>
                        <li class="page-item">
                            {% if page_obj.has_next %}
                                <a class="page-link"
                                   href="{% url 'manage-episode' %}?page={{ page_obj.next_page_number }}"
                                   aria-label="Next">
                                    <span>Next</span>
                                    <span aria-hidden="true" class="material-icons notranslate">chevron_right</span>
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                {% endif %}
            </div>
            {#            <div class="card-body bordet-top text-right">#}
            {#                15 <span class="text-50">of 1,430</span> <a href="#" class="text-50"><i class="material-icons notranslate ml-1">arrow_forward</i></a>#}
            {#            </div>#}
        </div>
    </div>
{% endblock %}
