{% url 'register' as register_url %}
{% url 'courses' as courses_url %}

{% if banner_image %}
    <div class="hero container page__container text-center text-md-left py-112pt">
        <div class="slider_signup"
             style="background: white;
    opacity: 0.8;
    padding: 30px;
    margin: 0 auto;
    max-width: 600px;

    content: '';
    text-align: center;
    border-radius: 13px;
    -webkit-box-shadow: 0px -2px 31px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -2px 31px -9px rgba(0,0,0,0.75);
    box-shadow: 0px -2px 31px -9px rgba(0,0,0,0.75);"
        >
        {% for c_info in cover_info %}
            {% if request.user.is_authenticated %}
                <h1 class="text-black text-shadow">{{ c_info.cover_title_authenticated }}</h1>
                <p class="mx-auto mx-md-0 text-black text-shadow mb-20pt">{{ c_info.cover_text_authenticated }}</p>
                <a href="{{ courses_url }}" class="btn btn-md btn-accent btn--raised mb-16pt">{{ c_info.url_btn_authenticated }}</a>
            {% else %}
                <h1 class="text-black text-shadow">{{ c_info.cover_title_not_authenticated }}</h1>
                <p class="mx-auto mx-md-0 text-black text-shadow mb-20pt">{{ c_info.cover_text_not_authenticated }}</p>
                <a href="{{ register_url }}" class="btn btn-md btn-accent btn--raised mb-16pt">{{ c_info.url_btn_not_authenticated }}</a>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endif %}
