{% extends 'base_instructor.html' %}
{% load static %}
{% block title %}{{ title }} || {{ block.super }}{% endblock title %}


{% block content %}
<div class="page-section border-bottom-2" style="margin-top: 5rem;">
    <div class="container page__container adminpanel-width" style="min-height:400px">

        <div class="page-separator">
            <div class="page-separator__text"><h2>{{ object.title }}</h2></div>
        </div>
        <div class="row mb-0">
            <!-- start content section -->
            <div class="col-lg-12">
                <div class="card mb-0">
                    <!-- TABLE HEADER -->
                    <div class="card-header d-flex align-items-center">
                        <div class="flatpickr-wrapper flex">
                        </div>
                    </div>
                    <!-- / END TABLE HEADER -->

                    <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-orders-name"
                         data-lists-values='["js-lists-values-orders-name", "js-lists-values-orders-date", "js-lists-values-orders-amount"]'>
                        <table class="table mb-0 table-nowrap thead-border-top-0">
                            <thead>
                            <tr>
                                <th>
                                    <a href="javascript:void(0)" class="sort">SL</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort">Episode</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort">Price</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort">Category</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort">Subcategory</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort">Professor</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort">Duration</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" class="sort">Actions</a>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="list">
                            {% for l_context in series_context %}
                            {% for ep_context in episode_context %}
                            {% if l_context == ep_context.series_of %}
                            <tr>
                                <td>
                                    <p>{{ forloop.counter }}</p>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a class="js-lists-values-orders-name"  onclick="changeVideo('{{ep_context.video}}')" href="#" id=" video-link-{{ ep_context.id}}">
                                            <b>{{ ep_context.title }}</b>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <p><b>${{ ep_context.price }}</b></p>
                                </td>
                                <td class="text-50">
                                    <p>{{ ep_context.lesson_of.category }}</p>
                                </td>
                                <td class="text-50">
                                    <p>{{ ep_context.lesson_of.subcategory }}</p>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a class="js-lists-values-orders-name" href="{{ ep_context.episode_instructor.get_absolute_url }}">{{ ep_context.episode_instructor }}</a>
                                    </div>
                                </td>
                                <td class="text-50">
                                    <a href="" class="text-50">
                                        <i class="material-icons notranslate icon--left">access_time</i>{{ ep_context.duration }}
                                    </a>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a class="js-lists-values-orders-name" href=""><i class="material-icons notranslate text-muted icon--left">lock_open</i></a>

                                        <!-- Episode Cart -->
                                        {% include 'courses/snippets/update_cart.html' with episode=ep_context cart=cart %}
                                        <!-- /End Episode Cart -->

                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="card-footer">
                        <ul class="pagination justify-content-start pagination-xsm m-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true" class="material-icons notranslate">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Page 1">
                                    <span>1</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Page 2">
                                    <span>2</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next"><span>Next</span>
                                    <span aria-hidden="true" class="material-icons notranslate">chevron_right</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end content section -->

            <!-- start video section -->
            <!--<div class="col-lg-5 justify-content-center">-->
                <!--{% if request.user.is_authenticated %}-->
                <!--<div>-->
                    <!--<div class="js-player embed-responsive embed-responsive-16by9 mb-32pt">-->
                        <!--<div class="player embed-responsive-item">-->
                            <!--<div class="player__embed">-->
                                <!--<video id="episode-video-frame"  width="560" height="315" controls><source src="{{ object.course_intro_video.url }}" type="video/mp4"></video>-->
                                <!--<iframe id="episode-video-frame" width="560" height="315"-->
                                        <!--src="{{ object.course_intro_video.url }}" frameborder="0"-->
                                        <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"-->
                                        <!--allowfullscreen></iframe>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="d-flex flex-wrap align-items-end mb-16pt">-->
                    <!--<h3 class="text-black flex m-0">{{ object.title }}</h3>-->
                    <!--<p class="h3 text-black-50 font-weight-light m-0">{{ object.course_intro_video_duration }}</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--{% endif %}-->
            <!--</div>-->
            <!-- end video section -->
        </div>
    </div>
</div>

{% endblock %}

<script type="text/javascript">
document.getElementById("video-link-2").innerHTML = "Hello JavaScript!";
document.getElementById("video-link-1").onload = function() {myFunction()};

function myFunction() {
  alert ("found")
}
</script>

{% if is_paginated %}
<ul class="pagination justify-content-start pagination-xsm m-0">
                        <li class="page-item">
                            {% if page_obj.has_previous %}
                                <a class="page-link" href="student/course/detail/the-soccer-front-line/?page={{ page_obj.previous_page_number }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true" class="material-icons notranslate">chevron_left</span>
                                    <span>Prev</span>
                                </a>
                            {% endif %}
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Page 1">
                                            <span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        {% if page_obj.has_next %}
                                            <a class="page-link"
                                               href="student/course/detail/the-soccer-front-line/?page={{ page_obj.next_page_number }}"
                                               aria-label="Next">
                                                <span>Next</span>
                                                <span aria-hidden="true" class="material-icons notranslate">chevron_right</span>
                                            </a>
                                        {% endif %}
                                    </li>
                                </ul>
{% endif %}