{% extends 'base_instructor.html' %}
{% load static %}
{% block title %} {{title}}{% endblock title %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>

<div class="page-section">
    <div class="container page__container  adminpanel-width">
<div class="page-section border-bottom-2 adminpanel-width" style="margin-top: 5rem;">
    <div class="container page__container adminpanel-width">
        <div class="card mb-0">
            <!-- TABLE HEADER -->
            <div class="card-header d-flex align-items-center">
                <div class="form-inline flex">
                    <select class="selectpicker" data-live-search="true" id="lessonID">
                        <option>Select Lesson</option>
                        {% for lesson in lesson_context %}
                        <option value="{{ lesson.id }}">{{ lesson.title }}</option>
                        {% endfor %}
                    </select>

                    <select  class="form-control serice-dropdown "
                    style="width:30% !important; margin-left:5px;" id="seriesID">
                        <option>Select Series</option>
                        {% for series in series_context %}
                        <option value="{{series.course_of.id}}">{{ series.lesson_title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <script>
                    $(document).ready(function () {
                        var $lessonVar = $('#lessonID');
                        var $seriesVar = $('#seriesID');
                        var $options = $seriesVar.find('option');

                        $lessonVar.on('change',function () {
                            $seriesVar.html($options.filter('[value="'+this.value+'"]'));
                        }).trigger('change');


                        $seriesVar.on('change',function () {
                            var e = document.getElementById("seriesID");
                            var seriesid = e.options[e.selectedIndex].value;
                            var seriesselect = e.options[e.selectedIndex].text;

                            var lessonelem = document.getElementById("lessonID");
                            var lessonid = lessonelem.options[lessonelem.selectedIndex].value;
                            var lessontext = lessonelem.options[lessonelem.selectedIndex].text;

                            LoadData(lessontext,seriesselect);

                        }).trigger('change');

                    });

                    function LoadData(y,x){
                        alert(y+x);
                        var table = document.getElementById("MyLessonTable");

       




                        //var table = document.getElementById("mytab1");
                            for (var i = 0, row; row = table.rows[i]; i++) {
                            //iterate through rows
                            //rows would be accessed using the "row" variable assigned in the for loop
                                 var tablerow = document.getElementById(x);
                            console.log(row.id);
                          /*  if(row.id==x){
                                // code for display none the row

                                tablerow.style.visibility = "show";
                            }
                            else if(row.id!=x){
                                tablerow.style.display = "none";
                            }
                            else{
                                 tablerow.style.visibility = "show";
                                }
                                */

                                var row = "";

                                for (var j = 0; j < table.rows[i].cells.length; j++) {

                                row += table.rows[i+1].cells[j].innerHTML;
                                row += " | ";
                                }

                                console.log(row);



                            }



                    }


                </script>
                <!-- /end dropdown for lesson select -->
                <div style="padding:10px 0px 10px 0px;" class="form-inline d-flex">
                    <form method="GET" action="{% url 'mylesson-search-query' %}" class="form-inline d-flex justify-content-center md-form form-sm">
                        <input class="form-control" type="text" placeholder="Search" name="q" aria-label="Search">
                    </form>
                </div>
                <!-- end search form -->
            </div>
            <!-- / END TABLE HEADER -->

            <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-orders-name"
                 data-lists-values='["js-lists-values-orders-name", "js-lists-values-orders-date", "js-lists-values-orders-amount"]'>
                <table class="table mb-0 table-nowrap thead-border-top-0" id="MyLessonTable">
                    <thead>
                    <tr>
                        <th>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input js-toggle-check-all"
                                       data-target="#orders" id="customCheckAll">
                                <label class="custom-control-label" for="customCheckAll"><span class="text-hide">Toggle all</span></label>
                            </div>
                        </th>
                        <th>#Sl</th>
                        <th>Type</th>
                        <th>
                            <a href="javascript:void(0)" class="sort">Episode</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort">Series</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort">Lesson</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort">Category</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort">Subcategory</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort">Professor</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort">Duration</a>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort">Action</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="list" id="episodeTable">
                    {% for ep in invoice_lesson_context %}
                    <tr id="{{ep.episode_id.series_of}}">
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input js-check-selected-row"
                                       id="customCheck1_1">
                                <label class="custom-control-label" for="customCheck1_1">
                                    <span class="text-hide">Check</span>
                                </label>
                            </div>
                        </td>
                        <td><p>{{ forloop.counter }}</p></td>
                        <td>
                            <a href="#">
                                <p onclick='ShowVideo("{{ ep.episode_id.video.url }}")'><i class="material-icons notranslate text-muted icon--left">play_circle_outline</i></p>
                            </a>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <p class="js-lists-values-orders-name color-blue" onclick='ShowVideo("{{ ep.episode_id.video.url }}")'>
                                    {{ ep.episode_id.title }}
                                    <input type="hidden" name="episodeID" value="{{ ep.episode_id.series_of.id }}"/>
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <p class="js-lists-values-orders-name">
                                    <a class="js-lists-values-orders-name" href="">{{ ep.episode_id.lesson_of }}</a>
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <p class="js-lists-values-orders-name">
                                    <a class="js-lists-values-orders-name" href="">{{ ep.episode_id.series_of }}</a>
                                </p>
                            </div>
                        </td>
                        <td>
                            <p class="text-muted">{{ ep.episode_id.lesson_of.category }}</p>
                        </td>
                        <td>
                            <p class="text-muted">{{ ep.episode_id.lesson_of.subcategory }}</p>
                        </td>
                        <td>
                            <p class="js-lists-values-orders-name">
                                <a class="js-lists-values-orders-name" href="">{{ ep.episode_id.episode_instructor }}</a>
                            </p>
                        </td>
                        <td>
                            <p class="js-lists-values-orders-name">
                                <i class="material-icons notranslate icon--left">access_time</i>
                                {{ ep.episode_id.duration }}
                            </p>
                        </td>
                        <td>
                            <div class="d-flex align-items-center">
                                <a class="js-lists-values-orders-name" href=""><i
                                        class="material-icons notranslate text-muted icon--left">lock_open</i></a>
                                <!--<a class="js-lists-values-orders-name" href=""><i class="material-icons notranslate icon&#45;&#45;left">remove_shopping_cart</i></i>-->
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- START PAGINATION -->
            <div class="card-footer">
                {% if is_paginated %}
                <ul class="pagination justify-content-start pagination-xsm m-0">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                        <a class="page-link" href="{% url 'student-lessons' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons notranslate">chevron_left</span>
                            <span>Prev</span>
                        </a>
                        {% endif %}
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Page 1">
                            <span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        </a>
                    </li>
                    <li class="page-item">
                        {% if page_obj.has_next %}
                        <a class="page-link" href="{% url 'student-lessons' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons notranslate">chevron_right</span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
                {% endif %}
            </div>
            <!-- / END START PAGINATION -->
        </div>
    </div>
    <!-- The Modal -->
    <div id="videoModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close pull-right" style="padding: 5px; margin: 5px;"> <button class="btn btn-danger">CLOSE &times; </button> </span>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id="episode_video" class="embed-responsive-item" src="#"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!-- END The Modal -->
</div>
    </div>
    </div>

<script>
    function ShowVideo(x) {
        //var rootfolder = "/media/";
        var newvideo =x;
       // var iframe = document.getElementById("episode_video");
        // /media/LMS/20818/20818.mp4

    // Get the modal
    //alert(x);
    var modal = document.getElementById("videoModal");


    var videoframe = document.getElementsByClassName("video-stream");

        var videoframe = document.getElementsByClassName("video-stream");

        // Get the button that opens the modal
        // var btn = document.getElementById("myBtn");

        //  Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        document.getElementById('episode_video').src = newvideo;

        //  When the user clicks the button, open the modal

        modal.style.display = "block";

//
        ////  When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            $('iframe').attr('src', $('iframe').attr('src'));
            modal.style.display = "none";
        }
//
        //  When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                $('iframe').attr('src', $('iframe').attr('src'));
                modal.style.display = "none";
            }
        }
    }

</script>
{% endblock %}

