<div class="mb-32pt">
    {% if is_paginated %}
    <ul class="pagination justify-content-start pagination-xsm m-0">
        <li class="page-item">
            {% if page_obj.has_previous %}
            <a class="page-link" href="{% url 'student-dashboard' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true" class="material-icons notranslate">chevron_left</span>
                <span>Prev</span>
            </a>
            {% endif %}
        </li>

        <li class="page-item">
            <a class="page-link" href="#" aria-label="Page 1">
                <span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            </a>
        </li>
        <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link" href="{% url 'student-dashboard' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span>Next</span>
                <span aria-hidden="true" class="material-icons notranslate">chevron_right</span>
            </a>
            {% endif %}
        </li>
    </ul>
    {% endif %}
</div>