{% extends 'base_instructor.html' %}
{% load static %}
{% block title %} {{title}} || {{ block.super }}{% endblock title %}

{% block content %}
<div class="page-section" style="margin-top: 4rem;">
    <div class="container page__container  adminpanel-width table-min-height">
        <h2>Inbox</h2>

        <div class="card mb-0">
            <div class="card-header d-flex align-items-center">
                <div class="flatpickr-wrapper flex">
                    <div>
                        <p>
                           <span> <strong>Logged in: {{ request.user.first_name }} {{ request.user.last_name }}</strong> </span>
                            <hr/>
                           <span> <a href="{% url 'message-create' %}" class="btn btn-sm btn-outline-info">New Message</a> </span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="table-responsive" data-toggle="lists" data-lists-sort-by="js-lists-values-orders-name"
                 data-lists-values='["js-lists-values-orders-name", "js-lists-values-orders-date", "js-lists-values-orders-amount"]'>
                <table class="table mb-0 table-nowrap thead-border-top-0">
                    <thead>
                    <tr>
                        <th >
                            <div class="custom-control">
                                <label>SL</label>
                            </div>
                        </th>
                        <th>
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-orders-name">Subject</a>
                        </th>
                        <th >
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-orders-name">Message</a>
                        </th>
                        <th >
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-orders-date">Date</a>
                        </th>
                        <th >
                            <a href="javascript:void(0)" class="sort" data-sort="js-lists-values-orders-name">Action</a>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="list" id="orders">
                    {% for context in message_replay_context %}
                    <tr>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <label>{{ forloop.counter }}</label>
                            </div>
                        </td>
                        <td>
                            <span class="d-flex align-items-center">
                                <p class="js-lists-values-orders-name" href="">{{ context.msg.subject }}</p>
                            </span>
                            <p class="text-50">{{ context.user }}</p>
                        </td>
                        <td class="js-lists-values-orders-date text-50">
                            <p class="text-muted wrap-text">{{ context.reply|truncatechars:100 }}</p>
                        </td>
                        <td class="js-lists-values-orders-date text-50">{{ context.datetime|date:"D d M Y" }}</td>
                        <td>
                            <a href="{{ context.get_absolute_replay_url }}" alt="Read"><span class="material-icons">preview</span></a>
                            <a href="{{ context.get_absolute_replay_delete_url }}" alt="Delete"><span class="material-icons">delete</span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="card-footer">

                {% if is_paginated %}
                <ul class="pagination justify-content-start pagination-xsm m-0">
                    <li class="page-item">
                        {% if page_obj.has_previous %}
                        <a class="page-link" href="{% url 'message-inbox' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true" class="material-icons notranslate">chevron_left</span>
                            <span>Prev</span>
                        </a>
                        {% endif %}
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Page 1">
                            <span>{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                        </a>
                    </li>
                    <li class="page-item">
                        {% if page_obj.has_next %}
                        <a class="page-link" href="{% url 'message-inbox' %}?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span>Next</span>
                            <span aria-hidden="true" class="material-icons notranslate">chevron_right</span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}