
<div class="page-section border-bottom-2 bg-white">
    <div class="container page__container">
        <div class="page-headline text-center">
            <h2>Features</h2>
            <p class="lead measure-lead mx-auto text-black-70">What other students turned professionals have to say about us after learning with us and reaching their goals.</p>
        </div>

        <div class="row align-items-center">
            <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
                <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                    <i class="material-icons notranslate text-white">subscriptions</i>
                </div>
                <div class="flex">
                    <div class="card-title mb-4pt">{{ home_content.count }}+ Lessons</div>
                    <p class="card-subtitle text-black-70">{{ series_count }}+ Series, {{ episode_count }}+ Episode</p>
                </div>
            </div>
            <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
                <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                    <i class="material-icons notranslate text-white">verified_user</i>
                </div>
                <div class="flex">
                    <div class="card-title mb-4pt">By Industry Experts</div>
                    <p class="card-subtitle text-black-70">Professional development from the best people.</p>
                </div>
            </div>
            <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt pb-16pt pb-md-0">
                <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                    <i class="material-icons notranslate text-white">update</i>
                </div>
                <div class="flex">
                    <div class="card-title mb-4pt">Unlimited Access</div>
                    <p class="card-subtitle text-black-70">Unlock Library and learn any topic with one subscription.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
                <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                    <i class="material-icons notranslate text-white">code</i>
                </div>
                <div class="flex">
                    <div class="card-title mb-4pt">Lesson Source Files</div>
                    <p class="card-subtitle text-black-70">Explore a wide range of skills.</p>
                </div>
            </div>
            <div class="d-flex col-md align-items-center border-bottom border-md-0 mb-16pt mb-md-0 pb-16pt pb-md-0">
                <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                    <i class="material-icons notranslate text-white">layers</i>
                </div>
                <div class="flex">
                    <div class="card-title mb-4pt">Printed Diploma</div>
                    <p class="card-subtitle text-black-70">Professional development from the best people.</p>
                </div>
            </div>
            <div class="d-flex col-md align-items-center">
                <div class="rounded-circle bg-dark w-64 h-64 d-inline-flex align-items-center justify-content-center mr-16pt">
                    <i class="material-icons notranslate text-white">accessibility</i>
                </div>
                <div class="flex">
                    <div class="card-title mb-4pt">Premium Support</div>
                    <p class="card-subtitle text-black-70">Unlock Library and learn any topic with one subscription.</p>
                </div>
            </div>
        </div>
    </div>
</div>
