<div>
                        <div class="page-separator">
                            <div class="page-separator__text">Recommended</div>
                        </div>

                        <div class="mb-8pt d-flex align-items-center">
                            <a href="#" class="avatar avatar-lg overlay overlay--primary mr-12pt">
{#                                <img src="assets/images/paths/invision_200x168.png" alt="assets/images/paths/invision_200x168.png" class="avatar-img rounded">#}
                                <span class="overlay__content"></span>
                            </a>
                            <div class="flex">
                                <a class="card-title mb-4pt" href="#">Design Systems Essentials</a>
                                <div class="d-flex align-items-center">
                                    <small class="text-muted mr-8pt"><a href="#">inVision</a></small>
                                    <small class="text-muted mr-8pt">35 Views</small>
                                    <small class="text-muted">11 Nov, 2018</small>
                                </div>
                            </div>
                        </div>

                        <div class="mb-8pt d-flex align-items-center">
                            <a href="#" class="avatar avatar-lg overlay overlay--primary mr-12pt">
{#                                <img src="assets/images/paths/photoshop_200x168.png" alt="assets/images/paths/photoshop_200x168.png" class="avatar-img rounded">#}
                                <span class="overlay__content"></span>
                            </a>
                            <div class="flex">
                                <a class="card-title mb-4pt" href="#">Semantic Logo Design</a>
                                <div class="d-flex align-items-center">
                                    <small class="text-muted mr-8pt"><a href="#">Photoshop</a></small>
                                    <small class="text-muted mr-8pt">78 Views</small>
                                    <small class="text-muted">10 Nov, 2018</small>
                                </div>
                            </div>
                        </div>

                        <div class="mb-16pt d-flex align-items-center">
                            <a href="#" class="avatar avatar-lg overlay overlay--primary mr-12pt">
{#                                <img src="assets/images/paths/sketch_200x168.png" alt="assets/images/paths/sketch_200x168.png" class="avatar-img rounded">#}
                                <span class="overlay__content"></span>
                            </a>
                            <div class="flex">
                                <a class="card-title mb-4pt" href="#">Merge Duplicates Inconsistent
                                    Symbols &amp; Styles</a>
                                <div class="d-flex align-items-center">
                                    <small class="text-muted mr-8pt"><a href="#">Sketch</a></small>
                                    <small class="text-muted mr-8pt">78 Views</small>
                                    <small class="text-muted">09 Nov, 2018</small>
                                </div>
                            </div>
                        </div>
                    </div>